
REACT_APP_ETHERSCAN_URL=https://rinkeby.etherscan.io
CONTRACT_NAME=Counter

# Required to deploy your own Smart Contract using command line
API_URL=https://eth-rinkeby.alchemyapi.io/v2/{{YOUR_API_KEY}}
PRIVATE_KEY={{YOUR_PRIVATE_KEY}}

# Deploy it first
REACT_APP_CONTRACT_ADDRESS=0xe87aEA8212179eb97C831211422443bE2d763f04
