
REACT_APP_ETHERSCAN_URL=https://rinkeby.etherscan.io
CONTRACT_NAME=Counter

# Required to deploy your own Smart Contract using command line
API_URL=https://eth-rinkeby.alchemyapi.io/v2/{{YOUR_API_KEY}}
PRIVATE_KEY={{YOUR_PRIVATE_KEY}}

# Deploy it first
REACT_APP_CONTRACT_ADDRESS=0x60D3b996492208055C649F1342ae16A7ad9fBca7
